<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{dd/MM/yyyy HH:mm:ss} %-5p [%t] [%c{1}] %m%n
  %highlight{%d [%t] %-5level: %msg%n%throwable}{FATAL=white, ERROR=red, WARN=bright_blue, INFO=white, DEBUG=white, TRACE=blue}
  "/>
            <!-- %highlight{%d [%t] %-2level: %msg%n%throwable}{ERROR=red, TRACE=blue}-->

        </Console>

         <Kafka name="KafkaAppender" topic="garageTest" syncSend="false">
              <PatternLayout
                      pattern="%d{dd/MM/yyyy HH:mm:ss} %-5p [%t] [%c{1}] %m%n"/>
              <Property name="bootstrap.servers">
                  localhost:9092
              </Property>
              <Property name="max. block.ms">100</Property>
              <Property name="acks">0</Property>
              <Property name="linger.ms">100</Property>
              <Property name="max.request .size">3000000</Property>
          </Kafka>
          <Async name="AsyncKafka" blocking="false" buffersize="1024">
              <AppenderRef ref="KafkaAppender"/>
          </Async>

    </Appenders>
    <Loggers>
       <Logger name="org.apache.kafka" Level="DEBUG"/> --> <!-- avoid recursive logging -->
        <Logger name="com.crazycoder" level="debug"/>
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="AsyncKafka"/>
        </Root>
    </Loggers>
</Configuration>